.waves{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 3px;
		display: inline-block;
		outline:none;
		border:0;
		overflow: hidden;
		position:relative;
		opacity: 0.9;
		text-align:center;
	}
	.waves:hover{
		opacity: 1;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.20),0 3px 12px 0 rgba(0,0,0,0.16);
	}
	
	.waves-effect{
		border-radius: 100%;
		background-color:#D8D8D8;
		left: 20px;
		top: 20px;
		transform: scale(0);
		width: 10px;
		height: 10px;
		position:absolute;

	}
	
	.waves-effect-animation{
		animation: animation-definition 1s ease-out;  
		/*兼容各大浏览器*/
		-moz-animation: animation-definition 1s ease-out;  
		-webkit-animation: animation-definition 1s ease-out;  
		-o-animation: animation-definition 1s ease-out;  
	}
	@keyframes animation-definition {  
		from{  
			transform: scale(0.1);  
			opacity: 1;
		}  
		
		to{  
			transform: scale(2); /*因为涟漪的大小为标签的最长边，为了保证点击标签边缘时，涟漪也能覆盖整个标签，scale值最小应为2*/
			opacity: 0;			
		} 
	}    
	@-webkit-keyframes animation-definition {  
		from{  
			transform: scale(0.1);  
			opacity: 1;
		}  
		
		to{  
			transform: scale(2); /*因为涟漪的大小为标签的最长边，为了保证点击标签边缘时，涟漪也能覆盖整个标签，scale值最小应为2*/
			opacity: 0;			
		} 
	}    
	@-moz-keyframes animation-definition {  
		from{  
			transform: scale(0.1);  
			opacity: 1;
		}  
		
		to{  
			transform: scale(2); /*因为涟漪的大小为标签的最长边，为了保证点击标签边缘时，涟漪也能覆盖整个标签，scale值最小应为2*/
			opacity: 0;			
		} 
	}  
	@-o-keyframes animation-definition {  
		from{  
			transform: scale(0.1);  
			opacity: 1;
		}  
		
		to{  
			transform: scale(2); /*因为涟漪的大小为标签的最长边，为了保证点击标签边缘时，涟漪也能覆盖整个标签，scale值最小应为2*/
			opacity: 0;			
		} 
	}    	